{% extends "bootstrap/base.html" %}
{% block title %}
    D&eacute;rive, a city identification game
{% endblock %}
{% block content %}
<div  style="text-align: center;">
<h1>
    D&eacute;rive
</h1>
<small>a city identification game</small>
<h2>
    <a class="btn btn-primary" href="/play">Play</a> 
</h2>
</div>
<blockquote>
    <p>
        &hellip; from a d&eacute;rive point of view cities have psychogeographical contours, with constant 
        currents, fixed points and vortexes
    </p>
    <footer>
        Guy Debord
    </footer>
</blockquote>
{% endblock %}