{% extends "bootstrap/base.html" %}
{% block title %}
    D&eacute;rive, a city identification game
{% endblock %}
{% block content %}
<div  style="text-align: center;">
    <h1>
        D&eacute;rive
    </h1>
    <h4>a city identification game</h4>
    <a class="btn btn-primary" href="/play">Play</a> 
</div>
<div class="container">
    <blockquote style="font-size: 1em;">
        <p>
            &hellip;from a d&eacute;rive point of view cities have psychogeographical contours, with constant 
            currents, fixed points and vortexes&hellip;
        </p>
        <footer>
            Guy Debord, <a href="//cddc.vt.edu/sionline/theory.html">Theory of the D&eacute;rive</a>
        </footer>
    </blockquote>
</div>
{% endblock %}