{% extends "bootstrap/base.html" %}
{% block title %}
D&eacute;rive > Play
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div>{{ map | safe }}</div>
    <h3>Hints</h3>
    {% for heading, value in hints %}
        <h4>{{ heading }}</h4>
        <p style="color: #fff;" >
            {{ value }}
        </p>
    {% endfor %}
    <h3>Answer</h3>
    <p style="color: #fff;">
        {{ place_name }}
    </p>
    <a class="btn btn-primary pull-right" href="/play/{{ next_loc }}/">Next</a>
</div>
{% endblock %}
