{% extends "bootstrap/base.html" %}
{% block title %}
D&eacute;rive > Play
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-9">{{ map | safe }}</div>
        <div class="col col-sm-3">
            <h3>Hints</h3>
            {% for heading, value in hints %}
                <h4 onclick="$('#hint-{{ heading }}').removeClass('hidden');">{{ heading }}</h4>
                <p id="hint-{{ heading }}" class="hidden">
                    {{ value }}
                </p>
            {% endfor %}
            <h3 onclick="$('#answer').removeClass('hidden');">Answer</h3>
            <p id="answer" class="hidden">
                {{ place_name }}
            </p>
            <a class="btn btn-primary pull-right" href="/play/{{ next_loc }}/">Next</a>
        </div>
    </div>
</div>
{% endblock %}
