{% extends "bootstrap/base.html" %}
{% block title %}
D&eacute;rive > Play
{% endblock %}
{% block navbar %}
<nav>
    <ol class="breadcrumb">
        <li>
            <strong>
                <a href="/">D&eacute;rive</a>
            </strong>
        </li>
        <li>
            <a href="/play/">Play</a>
        </li>
        <li class="active">
            Place {{ loc_id }}
        </li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-9">{{ map | safe }}</div>
        <div class="col col-sm-3">
            <h3>
                <span class="glyphicon glyphicon-globe"></span>
                Hints
            </h3>
            {% for heading, value in hints %}
                <!-- TODO: BS collapse w/o toggling? -->
                <h4 style="cursor: pointer;" 
                    onclick="$('#hint-{{ loop.index }}').removeClass('hidden'); 
                             $(this).css('cursor', 'default');"
                >
                    {{ heading }} &#x25be;
                </h4>
                <p id="hint-{{ loop.index }}" class="hidden">
                    {{ value }}
                </p>
            {% endfor %}
            <h3 style="cursor: pointer;"
                onclick="$('#answer').removeClass('hidden');
                $(this).css('cursor', 'default');" 
            >
                <!-- TODO: search / multiple choice modes -->
                <span class="glyphicon glyphicon-map-marker"></span>
                Answer &#x25be;
            </h3>
            <p id="answer" class="hidden">
                {{ place_name }}
            </p>
            <a class="btn btn-primary pull-right" href="/play/{{ next_loc_id }}/">Next</a>
        </div>
    </div>
</div>
{% endblock %}
